# Pipfile
# 1. pip install pipenv
# 2. pipenv install --dev

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "==6.2.3"
pytest-cov = "==2.11.1"
pylint = "==2.7.4"
Sphinx = "*"

[packages]
Flask = "==1.1.2"
Flask-Migrate = "==2.3.1"
Flask-Script = "==2.0.6"
Flask-SQLAlchemy = "==2.5.1"
Flask-WTF = "==0.14.3"
Flask-User = "==1.0.2.2"
Flask-JWT-Extended = "==4.1.0"
Flask-Caching = "==1.10.1"
Flask-Cors = "==3.0.7"
flask-expects-json = "==1.5.0"

email_validator = "==1.1.1"
werkzeug = "==0.16.1"
gevent = "==21.1.2"
pathlib2 = "*"

pandas = "==1.2.0"

scipy = "*"
pymagnitude = "==0.1.143"
scikit-learn = "==0.23.1"
umap-learn = "==0.5.1"

anycache = "==2.0.7"
cwb-python = {git = "https://github.com/fau-klue/cwb-python"}
cwb-ccc = {ref = "v0.9.16", git = "https://github.com/ausgerechnet/cwb-ccc"}
