# I'm a systemd service file that lives in /etc/systemd/system/
[Unit]
Description=Daemon for MMDA Backend
After=docker.service
Wants=
Requires=docker.service

[Service]
Restart=on-failure
StartLimitInterval=20
StartLimitBurst=5
TimeoutStartSec=0
RestartSec=5
Environment="HOME=/root"
SyslogIdentifier=docker-mmda-backend
ExecStartPre=-/usr/bin/docker kill mmda-backend
ExecStartPre=-/usr/bin/docker rm  mmda-backend

ExecStart=/usr/bin/docker run \
 -v /opt/data/mmda/settings_production.py:/app/backend/settings_production.py:ro \
 -v /opt/data/mmda/database:/var/local/ \
 -v /opt/data/mmda/embeddings/:/opt/embeddings/:ro \
 -v /cwb/registry/:/opt/cwb/registry/:ro \
 -v /cwb/data/:/cwb/data/:ro \
 -v /etc/letsencrypt:/certs/letsencrypt:ro \
 -e TLS_ENABLE=true \
 -e TLS_CERTFILE=/certs/letsencrypt/live/URL/fullchain.pem \
 -e TLS_KEYFILE=/certs/letsencrypt/live/URL/privkey.pem \
 -e SECRET_KEY=CHANGEME! \
 -e WORKERS=12 \
 -p 5000:5000 \
 --name mmda-backend \
 fau.de/mmda-backend:latest

ExecStop=-/usr/bin/docker stop --time=0 mmda-backend
ExecStop=-/usr/bin/docker rm  mmda-backend

[Install]
WantedBy=multi-user.target

