# I'm a systemd service file that lives in /etc/systemd/system/
[Unit]
Description=Daemon for MMDA Frontend
After=docker.service
Wants=
Requires=docker.service

[Service]
Restart=on-failure
StartLimitInterval=20
StartLimitBurst=5
TimeoutStartSec=0
RestartSec=5
Environment="HOME=/root"
SyslogIdentifier=docker-mmda-frontend
ExecStartPre=-/usr/bin/docker kill mmda-frontend
ExecStartPre=-/usr/bin/docker rm  mmda-frontend

ExecStart=/usr/bin/docker run \
 --net bridge -m 0b --link mmda-backend \
 -v /opt/data/nginx/htpasswd:/etc/nginx/.htpasswd:ro \
 -v /etc/letsencrypt:/certs/letsencrypt:ro \
 -p 80:80 \
 -p 443:443 \
  \
 --name mmda-frontend \
 fau.de/mmda-frontend:latest

ExecStop=-/usr/bin/docker stop --time=0 mmda-frontend
ExecStop=-/usr/bin/docker rm  mmda-frontend

[Install]
WantedBy=multi-user.target
